.header {
  min-height: 110px;
  width: 100%;
  position: fixed;
  top: 0;
  background: $white;

  .container {
    flex-direction: row !important;
    justify-content: space-between;
  }

  .brand {
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      width: 100%;
      max-width: 144px;
      height: auto;
    }
  }

  .nav-primary {
    display: flex;
    flex-direction: column;
    justify-content: center;

    ul {
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: flex-end;
    }

    li {
      margin: 0 20px;

      a {
        font-family: "Work Sans", sans-serif;
        font-weight: $medium;
        font-size: 12px;
        text-decoration: none;
        color: $lucky-point;
      }
    }
  }
}
