.pages {
  margin-top: 110px;

  &-header {
    @media only screen and (max-width: 767px) {
      align-items: unset;
      height: auto;
      min-height: unset;
    }

    min-height: 500px;
    height: auto;
    display: flex;
    align-items: center;
    margin: 0 auto;

    h1 {
      @media only screen and (max-width: 767px) {
        width: 100%;
      }

      font-size: 46px;
      font-family: "Work Sans", sans-serif;
      font-weight: $medium;
      color: $lucky-point;
      width: 190px;

      &::before {
        content: "";
        width: 100px;
        height: 3px;
        display: block;
        margin-bottom: 20px;
        background-color: $lucky-point;
      }
    }

    .intro-text {
      @media only screen and (max-width: 767px) {
        max-width: 100%;
        width: 100%;
        padding: 0;
      }

      max-width: 550px;
      padding: 0 20px;
      width: 100%;
      display: flex;
      flex-direction: row;
      margin-left: auto;
      font-family: "Work Sans", sans-serif;
      font-weight: $light;
      color: $aluminium;
      font-size: 23px;

      &-404 {
        max-width: 550px;
        padding: 0 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        font-family: "Work Sans", sans-serif;
        font-weight: $light;
        color: $aluminium;
        font-size: 23px;
      }
    }
  }

  &-header-home {
    min-height: 700px;
    position: relative;
    z-index: -1;

    .video {
      @media only screen and (max-width: 767px) {
        width: 100%;
        margin: 0;
        box-sizing: border-box;
      }

      width: 50%;
      background: $athens-gray;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 40px;
      position: relative;

      .floaty-stuff-couple {
        @media only screen and (max-width: 767px) {
          width: calc(100% - 30px);
          left: 15px;
          top: -50px;
        }

        width: calc(100% + 60px);
        display: block;
        position: relative;
        left: -30px;
        top: 0;
      }

      .play-video {
        @media only screen and (max-width: 767px) {
          margin-top: 0;
        }

        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 50px;

        img {
          height: 69px;
          width: 69px;
          display: block;
          cursor: pointer;
        }
      }

      .video-text {
        @media only screen and (max-width: 767px) {
          margin: 30px;
        }

        font-family: "Work Sans", sans-serif;
        font-weight: $light;
        color: $lucky-point;
        margin-top: 20px;
        text-align: center;
      }
    }

    .content {
      @media only screen and (max-width: 767px) {
        width: 100%;
        text-align: center;
        padding: 30px 30px 90px;
      }

      width: 50%;
      padding: 90px 30px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      box-sizing: border-box;

      h1 {
        font-size: 46px;
        font-family: "Work Sans", sans-serif;
        font-weight: $light;
        color: $oslo-grey;

        span {
          color: $magenta;
        }
      }

      .fbmessenegr {
        @media only screen and (max-width: 767px) {
          margin: 0 auto;
        }

        width: 56px;
        height: 56px;
        display: block;
        cursor: pointer;

        img {
          width: 100%;
        }
      }
    }
  }

  .white-section {
    background-color: $white;
    min-height: 410px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 0;
    box-sizing: border-box;

    h2 {
      @media only screen and (max-width: 767px) {
        text-align: center;
      }

      font-family: "Work Sans", sans-serif;
      font-weight: $light;
      color: $lucky-point;
      font-size: 30px;
      line-height: 43px;

      &.alt {
        font-weight: $medium;
        font-size: 46px;
        line-height: 51px;
      }
    }

    .contact-form {
      @media only screen and (max-width: 767px) {
        width: 100%;
      }

      width: 50%;
      display: flex;
      flex-direction: column;
      padding: 30px;
      box-sizing: border-box;
      justify-content: center;

      .gform_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .gform_body {
          width: 100%;
        }

        form {
          display: flex;
          flex-direction: column;
          width: 100%;

          label {
            display: none;
          }

          input,
          textarea {
            margin-top: 20px;
            width: 100%;
            height: 53px;
            padding: 10px 30px;
            box-sizing: border-box;
            font-family: "Work Sans", sans-serif;
            font-weight: $light;
            outline: none;
            border: 1px solid rgba($oslo-grey, 0.5);
            border-radius: 10px;
            font-size: 20px;
            color: $oslo-grey;
          }

          textarea {
            height: 150px;

            &:focus {
              color: none;
            }

            &::placeholder {
              color: $oslo-grey;
            }
          }

          .gform_footer {
            @media only screen and (max-width: 767px) {
              justify-content: center;
            }

            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            border: 0;

            input {
              border: 0;
              color: $white;
              width: 200px;
              cursor: pointer;
              box-shadow: rgba($black, 0.2) 0 10px 10px;
              border-radius: 25px;
              border-color: transparent;
            }
          }

          ul {
            padding: 0;
            margin: 0;
            list-style: none;
          }
        }
      }
    }

    .content {
      @media only screen and (max-width: 767px) {
        width: 100%;
      }

      width: 50%;
      display: flex;
      flex-direction: column;
      padding: 30px;
      box-sizing: border-box;
      justify-content: center;

      &-alt {
        width: 100%;
        display: flex;
        flex-direction: row;
      }

      p {
        @media only screen and (max-width: 767px) {
          text-align: center;
        }

        font-family: "Work Sans", sans-serif;
        font-weight: $regular;
        color: $oslo-grey;
        font-size: 18px;
        line-height: 29px;
      }

      .telephone {
        @media only screen and (max-width: 767px) {
          text-align: center;
        }

        font-family: "Work Sans", sans-serif;
        font-weight: $medium;
        font-size: 27px;
        margin-bottom: 30px;

        a {
          color: $lucky-point;
          text-decoration: none;
        }
      }

      .email {
        @media only screen and (max-width: 767px) {
          text-align: center;
        }

        font-family: "Work Sans", sans-serif;
        font-weight: $medium;
        font-size: 27px;

        a {
          color: $lucky-point;
        }
      }

      .social {
        @media only screen and (max-width: 767px) {
          justify-content: center;
        }

        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        &__icons {
          width: 32px;
          height: 106px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-right: 10px;
          padding: 30px 0;
          box-sizing: border-box;

          img {
            height: 32px;
          }
        }
      }

      .fbmessenegr {
        @media only screen and (max-width: 767px) {
          margin: 0 auto;
        }

        width: 32px;
        height: 32px;
        display: block;
        cursor: pointer;

        img {
          width: 100%;
        }
      }

      .solutions-block-mobile {
        display: none;

        @media only screen and (max-width: 767px) {
          padding: 30px;
          width: 100%;
          height: auto;
          margin-top: 30px;
          box-sizing: border-box;
          background: url(../images/svg/theblob.svg) no-repeat;
          background-size: contained;
        }

        .solutions-img {
          position: relative;
          padding: 0 50px 0 0;
          display: none;
        }
      }

      .solutions-tabs {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          border-bottom: 0;
          margin-bottom: 20px;

          &:last-child {
            border-bottom: none;
          }

          .number {
            width: 40px;
            height: 40px;
            position: absolute;
            left: 30px;
          }

          a {
            background: $athens-gray;
            border-radius: 25px;
            box-shadow: rgba($black, 0.2) 0 10px 10px;
            font-family: "Work Sans", sans-serif;
            font-weight: $regular;
            font-size: 18px;
            line-height: 29px;
            color: $oslo-grey;
            text-decoration: none;
            display: block;
            position: relative;

            .row {
              padding: 30px 30px 30px 100px;
            }

            &.current {
              .solutions-block-mobile {
                display: none;

                @media only screen and (max-width: 767px) {
                  display: block;
                }
              }
            }
          }
        }
      }

      .solutions-block {
        @media only screen and (max-width: 767px) {
          display: none;
        }

        padding: 30px 0;
        display: block;
        width: 100%;
        height: auto;
        margin-top: 30px;
        box-sizing: border-box;
        background: url(../images/svg/theblob.svg) no-repeat;
        background-size: contained;

        .solutions-img {
          position: relative;
          padding: 0 50px 0 0;
          display: none;
        }
      }
    }

    .animated-svg {
      @media only screen and (max-width: 767px) {
        width: 100%;
      }

      width: 50%;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      justify-content: center;
    }
  }

  .grey-section {
    background-color: $athens-gray;
    min-height: 410px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 0;
    box-sizing: border-box;

    h2 {
      @media only screen and (max-width: 767px) {
        text-align: center;
      }

      font-family: "Work Sans", sans-serif;
      font-weight: $light;
      color: $lucky-point;
      font-size: 30px;
      line-height: 43px;

      &.alt {
        font-weight: $medium;
        font-size: 46px;
        line-height: 51px;
      }
    }

    .content {
      @media only screen and (max-width: 767px) {
        width: 100%;
      }

      width: 50%;
      display: flex;
      flex-direction: column;
      padding: 30px;
      box-sizing: border-box;
      justify-content: center;

      p {
        @media only screen and (max-width: 767px) {
          text-align: center;
        }

        font-family: "Work Sans", sans-serif;
        font-weight: $regular;
        color: $oslo-grey;
        font-size: 18px;
        line-height: 29px;
      }
    }

    .animated-svg {
      @media only screen and (max-width: 767px) {
        width: 100%;
      }

      width: 50%;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      justify-content: center;
    }
  }

  .hero-section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &-hero {
    @media only screen and (max-width: 767px) {
      min-height: 340px;
    }

    min-height: 520px;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
