.pages {
  margin-top: 110px;

  &-header {
    min-height: 500px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;

    h1 {
      font-size: 46px;
      font-family: "Work Sans", sans-serif;
      font-weight: $medium;
      color: $lucky-point;
      width: 190px;

      &::before {
        content: "";
        width: 100px;
        height: 3px;
        display: block;
        margin-bottom: 20px;
        background-color: $lucky-point;
      }
    }

    .intro-text {
      max-width: 550px;
      padding: 0 20px;
      width: 100%;
      display: flex;
      flex-direction: row;
      margin-left: auto;
      font-family: "Work Sans", sans-serif;
      font-weight: $light;
      color: $aluminium;
      font-size: 23px;

      &-404 {
        max-width: 550px;
        padding: 0 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        font-family: "Work Sans", sans-serif;
        font-weight: $light;
        color: $aluminium;
        font-size: 23px;
      }
    }
  }

  &-header-home {
    min-height: 700px;
    position: relative;
    z-index: -1;

    .video {
      width: 50%;
      background: $athens-gray;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 40px;
      position: relative;

      .floaty-stuff {
        width: calc(100% + 60px);
        display: block;
        position: absolute;
        left: -30px;
        top: 50px;

        img {
          width: 100%;
        }
      }

      .couple {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 220px;

        img {
          height: 208px;
        }
      }

      .play-video {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 50px;

        img {
          height: 69px;
          width: 69px;
          display: block;
          cursor: pointer;
        }
      }

      .video-text {
        font-family: "Work Sans", sans-serif;
        font-weight: $light;
        color: $lucky-point;
        margin-top: 20px;
        text-align: center;
      }
    }

    .content {
      width: 50%;
      padding: 90px 30px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      h1 {
        font-size: 46px;
        font-family: "Work Sans", sans-serif;
        font-weight: $light;
        color: $oslo-grey;

        span {
          color: $magenta;
        }
      }

      .fbmessenegr {
        width: 56px;
        height: 56px;
        display: block;
        cursor: pointer;

        img {
          width: 100%;
        }
      }
    }
  }

  .white-section {
    background-color: $white;
    min-height: 410px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 0;
    box-sizing: border-box;

    h2 {
      font-family: "Work Sans", sans-serif;
      font-weight: $light;
      color: $lucky-point;
      font-size: 30px;
      line-height: 43px;

      &.alt {
        font-weight: $medium;
        font-size: 46px;
        line-height: 51px;
      }
    }

    .contact-form {
      width: 50%;
      display: flex;
      flex-direction: column;
      padding: 30px;
      box-sizing: border-box;
      justify-content: center;

      .gform_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .gform_body {
          width: 100%;
        }

        form {
          display: flex;
          flex-direction: column;
          width: 100%;

          label {
            display: none;
          }

          input,
          textarea {
            margin-top: 20px;
            width: 100%;
            height: 53px;
            padding: 10px 30px;
            box-sizing: border-box;
            font-family: "Work Sans", sans-serif;
            font-weight: $light;
            outline: none;
            border: 1px solid rgba($oslo-grey, 0.5);
            border-radius: 10px;
            font-size: 20px;
            color: $oslo-grey;
          }

          textarea {
            height: 150px;

            &:focus {
              color: none;
            }

            &::placeholder {
              color: $oslo-grey;
            }
          }

          .gform_footer {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            border: 0;

            input {
              border: 0;
              color: $white;
              width: 200px;
              cursor: pointer;
              box-shadow: rgba($black, 0.2) 0 10px 10px;
              border-radius: 25px;
              border-color: transparent;
            }
          }

          ul {
            padding: 0;
            margin: 0;
            list-style: none;
          }
        }
      }
    }

    .content {
      width: 50%;
      display: flex;
      flex-direction: column;
      padding: 30px;
      box-sizing: border-box;
      justify-content: center;

      &-alt {
        width: 100%;
        display: flex;
        flex-direction: row;
      }

      p {
        font-family: "Work Sans", sans-serif;
        font-weight: $regular;
        color: $oslo-grey;
        font-size: 18px;
        line-height: 29px;
      }

      .telephone {
        font-family: "Work Sans", sans-serif;
        font-weight: $medium;
        font-size: 27px;
        margin-bottom: 30px;

        a {
          color: $lucky-point;
          text-decoration: none;
        }
      }

      .email {
        font-family: "Work Sans", sans-serif;
        font-weight: $medium;
        font-size: 27px;

        a {
          color: $lucky-point;
        }
      }

      .social {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        &__icons {
          width: 32px;
          height: 106px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-right: 10px;
          padding: 30px 0;
          box-sizing: border-box;

          img {
            height: 32px;
          }
        }
      }

      .fbmessenegr {
        width: 32px;
        height: 32px;
        display: block;
        cursor: pointer;

        img {
          width: 100%;
        }
      }
    }

    .animated-svg {
      width: 50%;
      display: flex;
      flex-direction: column;
      padding: 30px;
      box-sizing: border-box;
      justify-content: center;
    }
  }

  .grey-section {
    background-color: $athens-gray;
    min-height: 410px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 0;
    box-sizing: border-box;

    h2 {
      font-family: "Work Sans", sans-serif;
      font-weight: $light;
      color: $lucky-point;
      font-size: 30px;
      line-height: 43px;

      &.alt {
        font-weight: $medium;
        font-size: 46px;
        line-height: 51px;
      }
    }

    .content {
      width: 50%;
      display: flex;
      flex-direction: column;
      padding: 30px;
      box-sizing: border-box;
      justify-content: center;

      p {
        font-family: "Work Sans", sans-serif;
        font-weight: $regular;
        color: $oslo-grey;
        font-size: 18px;
        line-height: 29px;
      }
    }

    .animated-svg {
      width: 50%;
      display: flex;
      flex-direction: column;
      padding: 30px;
      box-sizing: border-box;
      justify-content: center;
    }
  }

  .hero-section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &-hero {
    min-height: 520px;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
