@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,400,500&display=swap");

body {
  padding: 0;
  margin: 0;
}

.wrap {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 1200px;
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
}

.space-between {
  justify-content: space-between;
}

.row {
  flex-direction: row;
}

.row-reverse {
  flex-direction: row-reverse;
}

.column {
  flex-direction: column;
}

.column-reverse {
  flex-direction: column-reverse;
}

.border-bottom {
  border-bottom: 1px solid $iron;
}

.grey {
  background-color: $athens-gray !important;
}

.title-section {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.arrow {
  background: url(../images/svg/arrow.svg) no-repeat center center;
  display: block;
  height: 23px;
  width: 47px;
  margin: auto 20px auto 0;
}

.icon {
  display: block;
  height: 97px;
  width: 89px;
  margin: auto 20px auto 18px;

  img {
    width: 100%;
  }
}

.tools {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .resources {
    display: flex;
    width: 25%;
    padding: 30px;
    box-sizing: border-box;
    justify-content: center;
    flex-direction: column;

    img {
      display: block;
      height: 225px;
      width: 225px;
    }

    &__title {
      padding: 20px 0;
      text-align: center;
      font-family: "Work Sans", sans-serif;
      font-weight: $medium;
      font-size: 18px;
      line-height: 29px;
      color: $oslo-grey;
    }
  }
}

.button {
  margin-top: 20px;
  width: 200px;
  height: 53px;
  background-image: url(../images/svg/Buttons.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  color: $white;
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
  font-weight: $medium;
  font-size: 18px;
  padding: 15px;
  box-sizing: border-box;
  box-shadow: rgba($black, 0.2) 0 10px 10px;
  border-radius: 25px;
  border-color: transparent;
  border: 0;
  cursor: pointer;

  &::before {
    content: ">";
    color: $white;
    margin-right: 10px;
  }
}

.legal {
  font-family: "Work Sans", sans-serif;
  font-weight: $light;
}

.mb-50 {
  margin-bottom: 50px;
}
