@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,400,500&display=swap");

body {
  padding: 0;
  margin: 0;
}

.wrap {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 1200px;
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
}

.space-between {
  justify-content: space-between;
}

.row {
  flex-direction: row;
}

.row-reverse {
  flex-direction: row-reverse;
}

.column {
  flex-direction: column;
}

.column-reverse {
  flex-direction: column-reverse;
}

.border-bottom {
  border-bottom: 1px solid $iron;
}

.grey {
  background-color: $athens-gray !important;
}

.title-section {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.arrow {
  background: url(../images/svg/arrow.svg) no-repeat center center;
  display: block;
  height: 23px;
  width: 47px;
  margin: auto 20px auto 0;
}

.icon {
  display: block;
  height: 97px;
  width: 89px;
  margin: auto 20px auto 18px;

  img {
    width: 100%;
  }
}

.tools {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .resources {
    display: flex;
    width: 25%;
    padding: 30px;
    box-sizing: border-box;
    justify-content: center;
    flex-direction: column;
  }
}
