/** Colors */
$brand-primary: #525ddc;
$white: #fff;
$black: #000;
$lucky-point: #1b1464;
$athens-gray: #f9f9fb;
$iron: #dcddde;
$aluminium: #a6a8ab;
$oslo-grey: #929497;
$magenta: #ff13e6;

/** Box Model  */
$spacer:                2rem;

/** Font Weight  */

$light: 300;
$regular: 400;
$medium: 500;
